.hidden-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header {
  height: 120px;
  position: relative;
}

.name {
  font-family: "SFRounded-Semibold" ;
  font-size: 14px;
}

.card-content {
  font-family: "SFRounded-light";
  font-size: 0.7rem;
  padding: 5%;
  height: 80px;
}

.space-content {
  margin-bottom : 5%;
}

.space-header {
  margin-bottom: 2%;
}

.rating {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgb(61, 157, 186);
  border-radius: 5px 0 0 0;
  padding: 2px;
  font-size: 10px;
  width: 20%;
  text-align: center;
  color: white;
  height: 15%;
}

.rating-text {
  line-height: 1px;
}

.text-blue-color {
  color: rgb(61, 157, 186) 
}

.review {
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
}